# Variables de entorno y secretos
.env
*.env

# Tokens y sesiones de Google
token.json
credentials.json
sessions.json

# Archivos temporales y entornos
__pycache__/
*.pyc
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
data/notes/
data/

# Bases de datos locales
*.sqlite
*.sqlite3
*.db


