fastapi
uvicorn[standard]
jinja2
python-dotenv
pypdf
openai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
itsdangerous
fonttools
python-multipart
pywebpush
python-docx
